.about {

  &__title {
    padding-left: 20px;
    text-transform: uppercase;
  }

  &__header {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
  }

  &__container {

    border: 1px solid rgba(18, 47, 95, 0.18);
    margin: 16px;

    img {
      width: 80px;
    }


  }
}