.catalog {
    &__home {
        // margin-top: 120px;
    }

    &__wrapp {

        margin: 20px;

        .row {
            &:nth-last-child(2n) {
                flex-direction: row-reverse;
            }
        }

    }

    &__text {

        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 18px;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 20px;

        &:after {
            content: '';
            display: block;
            border: 1px solid #37b548;
            width: 30px;
            margin-top: 20px;


        }
    }


}