<div class="container">

    <div class="row">
        <div class="col col-12">
            <div class="title-page title-page--product">
                <span class="title-page__label">Наша</span>
                <span class="title-page__title">Продукция</span>
            </div>
        </div>
        <div class="col col-6">
            <a href="/tomato.html">
                <div class="product-block__item">

                    <div class="product-block__title">Томаты</div>
                    <img src="img/product_item_01.jpg" alt=""></div>
                    </a>

            </div>
            <a>
                <div class="col col-6">
                    <a href="/rose.html"></a>
                        <div class="product-block__item">

                            <p>Тепличный комплекс состоит из трех Модулей.</br>

                               <span class="module">Модуль №1</span>  Площадью 10 га был введен в эксплуатацию поэтапно. В феврале 2016 года начали функционировать блоки площадью 5 га и в ноябре 2017 года открыты блоки, также площадью 5 га.</br>
                                 
                               <span class="module"> Модуль №2</span> построен и введен в эксплуатацию в октябре 2019 года. На площади 10 га выращиваются томаты. Также в указанный период было построено рассадное отделение площадью 1,1 га, которое является самостоятельной технологической единицей с независимым поддержанием микроклимата и независимой системой ирригации, которая позволяет обеспечивать круглогодичный сбор урожая.</br>
                                 
                                <span class="module">Модуль №3</span> включает в себя два блока общей площадью 10 га, на котором посажены томаты. Один из блоков был введен в эксплуатацию в октябре 2019 года и марте 2020 года был запущен второй блок</p></br>
                             
                    </div>
                </a>

            </div>
        </div>