<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Главная страница</title>
        {% include 'templates/head.html' %}
    </head>
    <body>

        {% include 'templates/navbar.html' %}

        <div class="header-block header-block--slider">

            <div class="owl-carousel owl-theme">

                <div class="item overlay">
                    <img src="/img/tomat/slider/IMG_9204.jpg" alt="">
                </div>

                <div class="item overlay">
                    <img src="/img/tomat/slider/IMG_9193.jpg" alt="">
                </div>

                <div class="item overlay">
                    <img src="/img/tomat/slider/IMG_9218.jpg" alt="">
                </div>

                <div class="item overlay">
                    <img src="/img/tomat/slider/home.jpg" alt="">
                </div>

            </div>

            <script></script>

            <div class="container">

                <div class="header-block-rose">
                    <div class="title header-block__title">
                        <h1>Новости</h1>
                    </div>
                    <p class="header-block__desc">
            ТОО «Greenhouse-Qaztomat» является крупнейшим тепличным хозяйством Павлодарской области.
            Представляет собой современный комплекс, оснащенный новейшим оборудованием и инновационными системами и технологиями в соответствии с европейскими стандартами.Проект реализован в партнерстве с известным мировым производителем Van der Hoeven Greenhousebuilders B.V., Нидерланды, входящим в тройку мировых производителей</p>

                </div>

                <div class="header-block__bottom">

                    <div class="container">
                        <div class="nav__wrapper">
                            <div class="nav__left nav__left--slider">
                                <div class="slider_nav">
                                    <button class="am-prev arrow header-block__arrow">←</button>
                                    <button class="am-next arrow header-block__arrow">→</button>
                                    {# <button class="play arrow header-block__arrow">►</button>
                                    <button class="stop arrow header-block__arrow">▄</button> #}
                                </div>
                                <a class="arrow header-block__arrow" id="scroll" href="#product">↓</a>
                            </div>
                            <div class="nav__right">
                справки по телефонам: +7(7187)27-86-80 &nbsp +7(7187)27-85-06
            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper-for-modal" id="example">
            <div class="shadow-wrapper" id="shadow">
                <div class="main">
                    <section class="catalog__home">
                        <div class="container">

                            <div class="news__wrapp">
                                <div class="row">
                                    <div class="col col-6">
                                        <div class="blog__image"><img src="img/blog_rev.jpg"></div>
                                    </div>
                                    <div class="col col-6">

                                        <div class="blog__content">
                                            <div class="blog__date">21.02.2020</div>
                                            <div class="blog__title">
                                                <h5>Заголовок новости</h5>
                                            </div>
                                            <div class="blog__text">
                                                <p>20.11.2019г. Начались работы по постройке третьего модуля тепличного комплекса. Работы ведет генеральный подрядчик ТОО «KBI Energy». Сроки окончания строительства назначены на март 2020 года.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                            <section id="contacs">
                                {% include 'templates/footer.html' %}
                            </section>
                        </div>

                    </div>
                </div>
            </body>

        </html>